{% load mathfilters %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Segmentacion y Rastreo de Celulas</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="assets/css/-product-features.css">
    <link rel="stylesheet" href="assets/css/Basic-fancyBox-Gallery-v2.css">
    <link rel="stylesheet" href="assets/css/Basic-fancyBox-Gallery.css">
    <link rel="stylesheet" href="assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="assets/css/ebs-bootstrap-datepicker-1.css">
    <link rel="stylesheet" href="assets/css/ebs-bootstrap-datepicker-2.css">
    <link rel="stylesheet" href="assets/css/ebs-bootstrap-datepicker-3.css">
    <link rel="stylesheet" href="assets/css/ebs-bootstrap-datepicker-4.css">
    <link rel="stylesheet" href="assets/css/ebs-bootstrap-datepicker.css">
    <link rel="stylesheet" href="assets/css/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.css">
    <link rel="stylesheet" href="assets/css/Filterable-Gallery.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navbar-with-menu-and-login.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/css/Studious-selectfile.css">
    <link rel="stylesheet" href="assets/css/Toggle-Switch-1.css">
    <link rel="stylesheet" href="assets/css/Toggle-Switch.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <script src="assets/js/userSession.js"> </script>
    <script src="assets/js/makeRequest.js"> </script>
    <script> checkUs() </script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgb(2,12,21);">
        <div class="container-fluid"><a class="navbar-brand" href="#page-top" style="color: rgb(23,162,184);"><img class="rounded img-fluid border" src="assets/img/parma%20logo.png" width="15%" height="100%"></a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive"
                type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(23,162,184);"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse"
                id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="historial">Historial</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="nueva_segmentacion.html">Segmentar imágenes</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="login.html" onClick="logout()">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="text-center" style="background-color: rgba(235,235,235,0.12);">
        <p class="text-center" style="margin-top: 0px;margin-bottom: 30px;font-size: 38px;">Resultado</p>
        <div class="container text-center">
            <div class="row text-left">
                <div class="col" style="margin-bottom: 12px;">
                    <div class="product-specs">
                        <a href="descargarimagenes?id_ds={{id_ds}}" style="color: rgb(0,0,0);">
                            <div style="margin-bottom: 11px;"><i class="fa fa-download" style="font-size: 35px;" href="#"></i><span style="margin-left: 10px;">Descargar imágenes</span></div>
                        </a>
                        <a href="descargacsv?id_ds={{id_ds}}" style="color: rgb(0,0,0);">
                            <div><i class="fa fa-download" style="font-size: 35px;"></i><span style="margin-left: 10px;">Descargar informe CSV</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-primary fbox3">

                {%for i in loaded_images%}
                <div class="col-sm-4 d-flex justify-content-center align-items-center" style="margin-top: 10;margin-right: 10;margin-bottom: 10;margin-left: 10;background-color: rgba(109,109,109,0);">
                    <div class="row">
                        <div class="col" style="width: 100%;height: 100%;background-color: rgba(108,108,108,0.08);"><a href="estadisticas?img={{ i }}&id_ds={{id_ds}}" data-fancybox="gallery" data-caption="Hero Image Nature" style="max-width: auto;max-height: auto;"><img class="rounded img-fluid border shadow" src="loadImageSeg?img={{ i }}" alt="loadImg?img={{ i }}" data-bs-hover-animate="pulse" style="max-height: 100%;margin-top: 13px;"></a>
                            <div
                                class="row text-center">
                                <div class="col text-center" style="font-size: 20px;line-height: 30px;"><a href="loadImageSeg?img={{ i }}"><i class="fa fa-download" data-bs-hover-animate="tada" style="color: rgb(0,0,0);font-size: 25px;margin-top: 6px;"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <div class="row text-center">
        <div class="col"><a class="btn btn-info" role="button" href="rastreo?id_ds={{id_ds}}" style="height: 42px;">Rastrear una celula</a></div>
        <div class="col"><a class="btn btn-info" role="button" href="todorastreo?id_ds={{id_ds}}" style="height: 42px;">Rastrear todas las células</a></div>
    </div>
    <footer class="fixedBottom" style="margin-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© 2018</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"><a href="#" style="color: rgb(23,162,184);">Términos de uso</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/Studious-selectfile.js"></script>
    <script src="assets/js/agency.js"></script>
    <script src="assets/js/Basic-fancyBox-Gallery.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/Date-Range-Picker.js"></script>
    <script src="assets/js/ebs-bootstrap-datepicker-1.js"></script>
    <script src="assets/js/ebs-bootstrap-datepicker.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="assets/js/Filterable-Gallery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</body>

</html>
